@font-face {
    font-family: freight-text-pro;
    src: url(../assets/fonts/2CDFA8_0_0-dd704242fc957c5c311f96fb3b9a1bf4.woff2);
}

@font-face {
    font-family: proxima-nova-3;
    src: url(../assets/fonts/2F3AD3_8_0-e835dd5dc9e570f8f3982d53fb740851.woff2);
}

@font-face {
    font-family: proxima-nova;
    src: url(../assets/fonts/reg-soundslice-209171069724eaab56cf6f1203e2956e.woff2);
}

@font-face {
    font-family: proxima-nova-2;
    src: url(../assets/fonts/semibold-subset.woff2);
}
/* @font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_2_0-c2ac893f0bf35c631294741d02dad2b7.woff2") format("woff2"), url("../fonts/freight/2CDFA8_2_0-f5855381dc159f35ba6c65eafb05fe50.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_0_0-dd704242fc957c5c311f96fb3b9a1bf4.woff2") format("woff2"), url("../fonts/freight/2CDFA8_0_0-4dbff609f6bc6e14b562599317483e9d.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_1_0-f013c61555aee95900727f890834f945.woff2") format("woff2"), url("../fonts/freight/2CDFA8_1_0-6bbe08595d66fca561b29a8b253c1603.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/reg-soundslice-209171069724eaab56cf6f1203e2956e.woff2") format("woff2"), url("../fonts/proxima/reg-soundslice-f0e2c83f2535f1dbd51976d304318372.woff") format("woff")
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/2F3AD3_3_0-83f070773e1ee1f3141f67725fea2eb9.woff2") format("woff2"), url("../fonts/proxima/2F3AD3_3_0-3d0a2893207fc9868cf1485f82204380.woff") format("woff");
    font-style: italic
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/semibold-subset.woff2") format("woff2"), url("../fonts/proxima/semibold-subset.woff") format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/2F3AD3_8_0-e835dd5dc9e570f8f3982d53fb740851.woff2") format("woff2"), url("../fonts/proxima/2F3AD3_8_0-83502552178434deac932a452472575d.woff") format("woff");
    font-weight: bold;
    font-style: normal
} */

:root {
    --default-white: #ffffff;
    --primary-color: #f2725f;
    --primary-text-color: #43444e;
    --active-color: rgb(240.0838150289,93.2167630058,71.4161849711);

    --v-background-color: white;
    --v-background-color-rgb: 255, 255, 255;
    --v-foreground-color: #43444E;
    --v-foreground-color-rgb: 67, 68, 78;
    --v-foreground-color-light: #808080;
    --v-border-color: rgba(67, 68, 78, 0.1);
    --v-border-color-dark: rgba(67, 68, 78, 0.5);
    --v-boxshadow-color: rgba(67, 68, 78, 0.2);
    --v-logo-color: #60516E;
    --v-background-color-light: #FAF8F5;
    --v-background-color-light-rgb: 250, 248, 245;
    --v-background-color-subtle: hsl(0, 0%, 96%);
    --v-background-color-blue: hsl(200, 20%, 96%);
    --v-highlight-color: #f2725f;
    --v-highlight-color-rgb: 242, 114, 95;
    --v-highlight-color-bg: #fff6f5;
    --player-highlight: #F3A42D;
    --player-background-color: #43444E;
    --player-foreground-color: white;
    --player-foreground-color-rgb: 255, 255, 255;
    --player-contrast: hsla(0, 0%, 0%, 0.65);
    --player-contrast-light: hsla(0, 0%, 100%, 0.3);
    --player-progress-color: #d9dadb;
    --player-video-background-color: transparent;
    --player-paged-buttons-background-color: #FAF8F5;
    --player-paged-buttons-foreground-color: #43444E;
    --player-paged-buttons-border-color: rgba(67, 68, 78, 0.1);
    --player-settings-highlight: #43444E;
    --player-settings-highlight-text: white;
    --player-settings-highlight-tabs: rgba(67, 68, 78, 0.125);
    --player-settings-highlight-tabs-text: #43444E;
    --player-settings-slider-background-color: rgba(67, 68, 78, 0.1);
    --player-settings-slider-foreground-color: rgba(67, 68, 78, 0.3);
    --player-bar-highlight-color: #EA6B24;
    --limit-exceeded-color: #FF4136;

    --textsize-small: 14px;
    --textsize-medium: 20px;
    --textsize-large: 36px;
    --textsize-xlarge: 52px;
}