* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: 52px;
    color: var(--primary-text-color);
}

p {
    font-size: 20px;
    color: var(--primary-text-color);
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 4px;
    font: bold 14px / 16px "proxima-nova", helvetica, arial, sans-serif;
    outline: none;
    cursor: pointer;
    background: #f2725f;
    color: #fff;
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
}

.main-header {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}


.main-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            margin-top: 5px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;
            color: var(--color-secondary);
        }
    }

    @media (min-width: 500px) {
        display: none;
    }
}

.main-nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        display: flex;
        gap: 15px;

        img {
            margin-top: 5px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;

        }
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.hero {
    padding: min(5em, 8%);
    text-align: center;
}