* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: var(--textsize-xlarge);
    color: var(--primary-text-color);
}

h2 {
    font-size: var(--textsize-large);
    color: var(--primary-text-color);
}

h3 {
    font-size: var(--textsize-medium);
    color: var(--primary-text-color);
}

h4 {
    font-size: var(--textsize-medium);
    color: var(--primary-text-color);
}

h5 {
    font-size: var(--textsize-medium);
    color: var(--primary-text-color);
}

p {
    font-size: 20px;
    color: var(--primary-text-color);
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 4px;
    font: bold 14px / 16px "proxima-nova", helvetica, arial, sans-serif;
    outline: none;
    cursor: pointer;
    background: #f2725f;
    color: var(--default-white);
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
}

.main-header {
    border-bottom: 1px solid #ddd;
}

.main-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 0;

    ul {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            margin-top: 5px;
        }
    }

    button {
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        border: none;
        outline: none;
        color: inherit;
        background: none;
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;
            color: var(--color-secondary);
        }
    }

    @media (min-width: 500px) {
        display: none;
    }
}

.main-nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        display: flex;
        gap: 15px;

        img {
            margin-top: 5px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;

        }
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.container {
   position: absolute;
   right: 0;

   @media (min-width: 500px) {
        display: none;
    }
}

.wrapper {
   .dropdown-menu {
      border-radius: 0 0 0 0.25rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      pointer-events: none;
   }

   .dropdown-item {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      padding-block: 0.75rem;
      padding-inline: 1.5rem;
      transition: all 0.2s ease-in-out;

      &:hover {
         background-color: gray;
      }
   }

   &.is-active .dropdown-menu {
      opacity: 1;
      z-index: 10;
      background-color: var(--default-white);
      transform: scaleY(1);
   }
}

.dropdown {
   position: relative;
   padding-inline: 1.5rem;
   padding-block: 0.75rem;
   border-radius: 0.25rem;
   transition: all 0.2s ease;

}

.hero {
    padding: min(5em, 8%);
    text-align: center;
}