* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1{
    font-size: 52px;
    color: rgb(67, 68, 78);
}
p {
    font-size: 20px;
    color: rgb(67, 68, 78);
}
button{
    border-radius: 4px;
    font: bold 14px / 16px "proxima-nova", helvetica, arial, sans-serif;
    outline: none;
    cursor: pointer;
    background: #f2725f;
    color: #fff;
    border: 0;
    padding: 8px 12px;
    white-space: nowrap;
}

.main-header {
    padding: 12px 16px;
}


.main-nav-mobile {

    @media (min-width: 380px) {
        display: none;
    }
}

.main-nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 26px;

    @media (max-width: 380px) {
        display: none;
    }
}




.hero {
    padding: 50px;
    text-align: center;
}