@font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_2_0-c2ac893f0bf35c631294741d02dad2b7.woff2") format("woff2"), url("../fonts/freight/2CDFA8_2_0-f5855381dc159f35ba6c65eafb05fe50.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_0_0-dd704242fc957c5c311f96fb3b9a1bf4.woff2") format("woff2"), url("../fonts/freight/2CDFA8_0_0-4dbff609f6bc6e14b562599317483e9d.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "freight-text-pro";
    src: url("../fonts/freight/2CDFA8_1_0-f013c61555aee95900727f890834f945.woff2") format("woff2"), url("../fonts/freight/2CDFA8_1_0-6bbe08595d66fca561b29a8b253c1603.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/reg-soundslice-209171069724eaab56cf6f1203e2956e.woff2") format("woff2"), url("../fonts/proxima/reg-soundslice-f0e2c83f2535f1dbd51976d304318372.woff") format("woff")
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/2F3AD3_3_0-83f070773e1ee1f3141f67725fea2eb9.woff2") format("woff2"), url("../fonts/proxima/2F3AD3_3_0-3d0a2893207fc9868cf1485f82204380.woff") format("woff");
    font-style: italic
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/semibold-subset.woff2") format("woff2"), url("../fonts/proxima/semibold-subset.woff") format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima/2F3AD3_8_0-e835dd5dc9e570f8f3982d53fb740851.woff2") format("woff2"), url("../fonts/proxima/2F3AD3_8_0-83502552178434deac932a452472575d.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.main-header {
    padding: 12px 16px;
}


.main-nav-mobile {

    @media (min-width: 380px) {
        display: none;
    }
}

.main-nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 26px;

    @media (max-width: 380px) {
        display: none;
    }
}




.hero {
    padding-top: 50px;
    padding-bottom: 40px;
}